set scrolloff=5
set incsearch
set relativenumber
set number
" Don't use Ex mode, use Q for formatting.
map Q gq

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" NerdTree
Plug 'preservim/nerdtree'
set NERDTree

let mapleader = " "
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

"------------------
"-- Emulate my Nvim mappings
"------------------

" Telescope-like"
nmap  <leader>gi <Action>(GotoImplementation)
nmap  <leader>gd <Action>(GotoDeclaration)
nmap  <leader>gr <Action>(FindUsages)
nmap  <leader>sf <Action>(GotoFile)
nmap  <leader>sg <Action>(FindInPath)
nmap  <leader>sb <Action>(RecentFiles)

" Harpoon-like"
nmap  <leader>a <Action>(ToggleBookmark)
nmap  <leader>h <Action>(ShowBookmarks)

" Some other stuff"
nmap /d <Action>(GotoNextError)
nmap .d <Action>(GotoPreviousError)

nmap <leader>K <Action>(QuickJavaDoc)
nmap <leader>rn <Action>(RenameElement)
nmap <leader>ca <Action>(ShowIntentionActions)

nmap <leader>b <Action>(ToggleLineBreakpoint)

nmap <leader>e <Action>(ShowErrorDescription)
nmap <leader>gs <Action>(ActivateCommitToolWindow)
nmap <leader>dr <Action>(Debug)
"------------------
-- Unique for Idea
"------------------
nmap <leader>ch <Action>(CallHierarchy)
nmap <leader>fu <Action>(FindUsages)
nmap <leader>gn <Action>(Generate)
nmap <leader>rf <Action>(RefactoringMenu)
nmap <leader>t <Action>(ActivateTerminalToolWindow)

"-- Buffers stuff
nmap <leader>b1 :buff 1<CR>
nmap <leader>b2 :buff 2<CR>
nmap <leader>b3 :buff 3<CR>
nmap <leader>b4 :buff 4<CR>
nmap <leader>b5 :buff 5<CR>
nmap <leader>bn :bn<CR>
nmap <leader>bp :bp<CR>
nmap <leader>ls :ls<cr>

"-----------------------------
"--General Convenient mappings
"-----------------------------

"-- Drag and drop selection with J and K
vmap K :m '<-2<CR>gv=gv
vmap J :m '>+1<CR>gv=gv

"-- Quickly insert an empty new line without entering insert mode
nmap <leader>o o<Esc>
nmap <leader>O O<Esc>

"-- Keep the cursor in the middle of the screen during half page scrolling
nmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz

"-- Navigate between windows with Ctrl + hjkl
nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

"-- Disable arrows in normal mode
noremap <Up> <NOP>
noremap <Down> <NOP>
noremap <Left> <NOP>
noremap <Right> <NOP>

nmap <leader>vf :NERDTreeToggle<CR>

set ideajoin
set idearefactormode=keep
